@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text');

body{
    background-color: greenyellow;
}
h1{
    font-family: "family=Libre+Barcode+39+Text", sans-serif;
    font-size: 500%;
    font-weight: 100;
    color: #cfdade;
    text-align: center;
    border: solid black;
    max-width: 600px;
}
h2{
    font-family: sans-serif;
    font-weight: 400;
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
    color: midnightblue;
    letter-spacing: 2px;
    width: 100%;
    padding: 1px 1px;
    margin: 8px 1px;

    border: solid;
    border-radius: 13px;
    max-width: 350px;

}

a.Velkommen{
    border: 3px solid midnightblue;
    border-radius: 13px;
    max-width: 350px;
    margin: auto;
}
